<style>
.container12 {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 650px;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

</style>

<div class="page-header">
    <h2>Trip Private Chat Room</h2>
    <div class="page-header">
	<h2>Welcome to the chat room of the trip:{{id}}</h2>
</div>
            
<div class="row">
	<div class="col-lg-8">
        <div id="chat_hist">
                {{!-- <input type="textArea" class="form-control" id="ChatArea" name="ChatArea" > --}}
            </div>
        <form role="form" action="/addChat/" name="chat_form" method="POST" id="mainDetailsForm">

        <input class="form-control" type='hidden' name='trip_id' value={{id}}>


			<div class="form-group">
				<label for="send_message">your message:</label>
				<input type="textArea" class="form-control" id="message" name="message" placeholder="Let's make some noise">
			</div>

            <div class="form-group">
				<button type="submit"  class="btn btn-primary">Send Message </button>
			</div>
        </form>
    </div>
</div>
{{!-- onclick="return refreshDisplay()" --}}

</div>

<script>
    $(document).ready(function () {
        fetch_chat();
    });

    function refreshDisplay() {

			$.ajax({
				type: "POST",
				dataType: 'text',
				data: {
					"user": session.user_email,
					"selectedPlan": document.getElementById("new_message").value
				},
				url: "/addChat",
				async: true,
				success: function(data) {
					if (data) {
						{{!-- window.location.href = data; --}}
                        console.log("success added");
                        fetch_chat();
					} else {
						alert("There was an error, please refresh and try again.");
					}
				},
				error: function(request, status, error) {
					alert(error);
					console.log(error);
				}
			});
	}

    function fetch_chat(){
        console.log("ID : {{id}} :::");
        $.ajax({
            type: "POST",
            url: "/Chat_Room/{{id}}",
            async: true,
            success: function (json_data) {
                console.log(JSON.stringify(json_data));
                var parsed_data = '';
                if (json_data.chat !== undefined) {
                    parsed_data = json_data.chat;
                }
                //console.log(parsed_data[0].message);
                if ($.trim(parsed_data)) {
                    //$('#resultTable tbody> tr').remove();
                    let len = parsed_data.length;
                    // console.log("length is ---------"+len);
                    // console.log(parsed_data[3].message);
                    //
                    {{!-- for (chat in parsed_data){ --}}
                    for(var i = 0; i < len; i++) {
                        console.log(parsed_data[i].message);
                        let test;
                    {{!-- if(1){request.session.userEmail==parsed_data.chat.user_email){ --}}
test = "<div class='container12 darker' width='50%'><img src='/img/sender.jpg' alt='Avatar' class='right' style='width:50%'><p>"+parsed_data[i].user_email+"&nbsp:--&nbsp &nbsp &nbsp"+parsed_data[i].message+"</p></div>"
                    {{!-- }else{
test = "<div class='container12' width='50%'><img src='/img/other.jpg' alt='Avatar' class='right' style='width:50%'><p class='time-left'>"+parsed_data[i].message+"</p></div>"
                    } --}}
      {{!-- "<span class='time-left'>11:01</span>" --}}
                            {{!-- test = "<label style='float:left'>  "+parsed_data[i].message +"</label>"; --}}
                           
 {{!-- if(request.session.userEmail==parsed_data.chat.user_email){
                           test = "<label  value='{{json_data.chat[i].user_email}}+{{json_data.chat[i].message}}' style='float:right'>";
                        }else{ --}}
                            {{!-- test = "<label  value='{{json_data.chat[i].user_email}}+{{json_data.chat[i].message}}' style='float:left'>"; --}}

                        {{!-- } --}}                     
                    console.log(test);
                        $('#chat_hist').append(test);
                        //$('#chat_hist').append('<br>');
                    }
                }
            }, error: function (request, status, error) {
                console.log(error);
                alert("failed to load chat this time, please navigate from home page");
                console.log(request.responseText);
            }
        });
    }

</script>